*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "a b b b"
    "a c c d"
    "e e f f";
}
.a{
 background-color: aqua;
    grid-area: a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.b{
    grid-area: b;

background-color: beige;
display: flex;
align-items: center;
justify-content: space-between;

}
.c{
    grid-area: c;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d{
    grid-area: d;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
}
.e{
    grid-area: e;
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f{
    grid-area: f;
    background-color: darkgray; 
    display: flex;
    align-items: center;
    justify-content: center;

}

a{
    text-decoration: none;
    background-color: darkgrey;
    color: black;
    padding: 20px;
    
    
    
}
a:hover{
    background-color: darkgray;
    color: darkgreen;
}
li{
    list-style: none;
    display: flex;
    padding: 10px;
}
span{
    
}
