.container{
    background-color: aqua;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
    "a a a"
    "b c d"
    "e e e";
}
header{
    background-color: rgb(145, 145, 55);
    grid-area: a;
    height: auto;
}
nav{
    background-color: rgb(58, 43, 32);
    grid-area: b;
    height: auto;
}
footer{
    background-color: rgb(28, 196, 50);
    grid-area: c;
    height: auto;
}
aside{
    background-color: rgb(38, 70, 158);
    grid-area: d;
    height: auto;

}
main{
    background-color: skyblue;
    grid-area: e;
    height: auto;
}